@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-ExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.title1 {
  font-weight: 700;
  font-size: 36px;
}

.title2 {
  font-weight: 600;
  font-size: 20px;
}

.subtitle1 {
  font-weight: 600;
  font-size: 20px;
}

.button1 {
  font-weight: 600;
  font-size: 24px;
}

.body1 {
  font-weight: 500;
  font-size: 20px;
}

.caption1 {
  font-weight: 500;
  font-size: 20px;
}

.caption2 {
  font-weight: 500;
  font-size: 16px;
}

body {
  background-color: #0b1014;
  color: #fff;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background-color: #979797;
  opacity: 1;
}
