@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-ExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title1 {
  font-weight: 700;
  font-size: 36px;
}

.title2 {
  font-weight: 600;
  font-size: 20px;
}

.subtitle1 {
  font-weight: 600;
  font-size: 20px;
}

.button1 {
  font-weight: 600;
  font-size: 24px;
}

.body1 {
  font-weight: 500;
  font-size: 20px;
}

.caption1 {
  font-weight: 500;
  font-size: 20px;
}

.caption2 {
  font-weight: 500;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  background-color: #0b1014;
  color: #fff;
  height: 100%;
}
.react-multi-carousel-dot-list {
  left: 27px !important;
  justify-content: start !important;
  bottom: 14px !important;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background-color: #979797;
  opacity: 1;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover_bg:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    #4f4f4f;
}

.focus_bg:focus {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    #4f4f4f;
}
